<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Page</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

  <!-- Navigation Bar -->
  <header>
    <nav>
      <div class="logo">ShopEasy</div>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="product.html">Products</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="cart.html">Cart</a></li>
      </ul>
    </nav>
  </header>
    <section class="product-detail">
        <img src="thumbnails/pexels-karolina-grabowska-6032802.jpg" alt="Product Image">
        <div class="product-info">
            <h1>HP ELITEBOOK 840</h1>
            <p> This is a great product for your needs.</p>
            <p><strong>Price:</strong> $29.99</p>
            <button>Add to Cart</button>
        </div>
    </section>
    <section class="product-detail">
        <img src="thumbnails/pexels-picjumbo-com-55570-196655.jpg" alt="Product Image">
        <div class="product-info">
            <h1>HP PRO-BOOK</h1>
            <p> This is a great product for your needs.</p>
            <p><strong>Price:</strong> $29.99</p>
            <button>Add to Cart</button>
            <button class="add-to-cart" data-name="Product 1" data-price="29.99">Add to Cart</button>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 ShopEasy. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
